@import url(https://fonts.googleapis.com/css?family=Cinzel);

/* .nav{
    background-color: black;

} */


.footer{
    /* background-color: black; */
    align-items: center;
  justify-content: center;
    color: aqua;
}

h1{
    font-size: 125px;
    font-family: Cinzel;
    font-weight: 125;
}
